{% set slide = [
	{
		'title': 'Универсальное средство для мытья полов «Мистер Пропер»',
		'art': 'Артикул: 17635504',
		'media': 'img/product.jpg',
		'extra': ['В наличии', 'Самовывоз доступен'],
		'price': '222 руб'
	},
	{
		'title': 'Cредство от тараканов «Таран бах»',
		'art': 'Артикул: 936331',
		'media': 'http://via.placeholder.com/350x150',
		'extra': ['В наличии', 'Самовывоз доступен'],
		'price': '34 руб'
	},
	{
		'title': 'Cредство от наркоманов «Наркоман бах»',
		'art': 'Артикул: 84324234',
		'media': 'http://via.placeholder.com/450x350',
		'extra': ['В наличии', 'Самовывоз доступен'],
		'price': '492 руб'
	},
	{
		'title': 'Cредство от имбицилов «Имбицил бах»',
		'art': 'Артикул: 936331',
		'media': 'http://via.placeholder.com/150x150',
		'extra': ['В наличии', 'Самовывоз доступен'],
		'price': '394 руб'
	},
	{
		'title': 'Cредство от моли «Моль умри»',
		'art': 'Артикул: 936331',
		'media': 'http://via.placeholder.com/900x900',
		'extra': ['В наличии', 'Самовывоз доступен'],
		'price': '911 руб'
	},
	{
		'title': 'Универсальное средство для мытья полов «Мистер Пропер»',
		'art': 'Артикул: 17635504',
		'media': 'img/product.jpg',
		'extra': ['В наличии', 'Самовывоз доступен'],
		'price': '222 руб'
	},
	{
		'title': 'Cредство от тараканов «Таран бах»',
		'art': 'Артикул: 936331',
		'media': 'http://via.placeholder.com/350x150',
		'extra': ['В наличии', 'Самовывоз доступен'],
		'price': '34 руб'
	},
	{
		'title': 'Cредство от наркоманов «Наркоман бах»',
		'art': 'Артикул: 84324234',
		'media': 'http://via.placeholder.com/450x350',
		'extra': ['В наличии', 'Самовывоз доступен'],
		'price': '492 руб'
	},
	{
		'title': 'Cредство от имбицилов «Имбицил бах»',
		'art': 'Артикул: 936331',
		'media': 'http://via.placeholder.com/150x150',
		'extra': ['В наличии', 'Самовывоз доступен'],
		'price': '394 руб'
	},
	{
		'title': 'Cредство от моли «Моль умри»',
		'art': 'Артикул: 936331',
		'media': 'http://via.placeholder.com/900x900',
		'extra': ['В наличии', 'Самовывоз доступен'],
		'price': '911 руб'
	}

]%}