{% set slides = [
	{
		'alert': '«Пемолюкс» удаляет неприятные запахи и придает помещению свежий аромат, а также обеспечивает гигиеническую чистоту вашего жилища.',
		'table': {
			'Артикул': '17635504',
			'Вес, кг': '500',
			'Страна-производитель': 'Россия',
			'Назначение:': 'Для ежедневной уборки поверхностей из керамики, металла, пластика и других водостойких поверхностей',
			'Марка:': 'Easywork',
			'Объем, мл:': '500'
		} 
	},
	{
		'alert': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt pulvinar diam, id moles',
		'table': {
			'Артикул': '225613',
			'Вес, кг': '123',
			'Страна-производитель': 'Ukraine',
			'Назначение:': 'Для ежедневной уборки поверхностей из керамики, металла, пластика и других водостойких поверхностей',
			'Марка:': 'Easywork',
			'Объем, мл:': '1000'
		} 
	},
	{
		'alert': 'Curabitur in sem dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In non porttitor lacus. Sed placerat vulputate scelerisque.',
		'table': {
			'Артикул': '9432413',
			'Вес, кг': '400',
			'Страна-производитель': 'Франция',
			'Назначение:': 'Для ежедневной уборки поверхностей из керамики, металла, пластика и других водостойких поверхностей',
			'Марка:': 'Easywork',
			'Объем, мл:': '800'
		} 
	},
	{
		'alert': 'Integer nec suscipit nibh, at eleifend justo.',
		'table': {
			'Артикул': '4124214',
			'Вес, кг': '95',
			'Страна-производитель': 'Норвегия',
			'Назначение:': 'Для ежедневной уборки поверхностей из керамики, металла, пластика и других водостойких поверхностей',
			'Марка:': 'Easywork',
			'Объем, мл:': '991'
		} 
	},
	{
		'alert': 'Nulla dolor quam, fermentum ut lorem vel, rutrum condimentum nisi. ',
		'table': {
			'Артикул': '6439693',
			'Вес, кг': '241',
			'Страна-производитель': 'Гондурас',
			'Назначение:': 'Для ежедневной уборки поверхностей из керамики, металла, пластика и других водостойких поверхностей',
			'Марка:': 'Easywork',
			'Объем, мл:': '975'
		} 
	},
	{
		'alert': 'Curabitur tincidunt molestie pretium. Sed bibendum tellus enim, vitae hendrerit sem aliquam sit amet.',
		'table': {
			'Артикул': '33231451312',
			'Вес, кг': '313',
			'Страна-производитель': 'Финляндия',
			'Назначение:': 'Для ежедневной уборки поверхностей из керамики, металла, пластика и других водостойких поверхностей',
			'Марка:': 'Easywork',
			'Объем, мл:': '777'
		} 
	},
	{
		'alert': 'Proin cursus finibus diam sit amet finibus. Mauris eget accumsan orci, in interdum nulla. ',
		'table': {
			'Артикул': '5923952395',
			'Вес, кг': '325',
			'Страна-производитель': 'Китай',
			'Назначение:': 'Для ежедневной уборки поверхностей из керамики, металла, пластика и других водостойких поверхностей',
			'Марка:': 'Easywork',
			'Объем, мл:': '6320'
		} 
	},
	{
		'alert': 'Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.',
		'table': {
			'Артикул': '534634192491',
			'Вес, кг': '246',
			'Страна-производитель': 'Япония',
			'Назначение:': 'Для ежедневной уборки поверхностей из керамики, металла, пластика и других водостойких поверхностей',
			'Марка:': 'Easywork',
			'Объем, мл:': '567'
		} 
	},
	{
		'alert': '«Пемолюкс» удаляет неприятные запахи',
		'table': {
			'Артикул': '539463',
			'Вес, кг': '888',
			'Страна-производитель': 'Уругвай',
			'Назначение:': 'Для ежедневной уборки поверхностей из керамики, металла, пластика и других водостойких поверхностей',
			'Марка:': 'Easywork',
			'Объем, мл:': '973'
		} 
	},
	{
		'alert': 'Обеспечивает гигиеническую чистоту вашего жилища.',
		'table': {
			'Артикул': '9789786785',
			'Вес, кг': '493',
			'Страна-производитель': 'Россия',
			'Назначение:': 'Для ежедневной уборки поверхностей из керамики, металла, пластика и других водостойких поверхностей',
			'Марка:': 'Easywork',
			'Объем, мл:': '312'
		} 
	}
] %}