{% set slides = [
	{
		'img': 'item1.jpg',
		'description': 'Двухслойная туалетная бумага T-9',
		'price': '124 руб'
	},
	{
		'img': 'item2.jpg',
		'description': 'Хозяйственные латексные перчатки «Doctor Clean»',
		'price': '34 руб'
	},
	{
		'img': 'item3.jpg',
		'description': 'Двухслойные бумажные полотенца ZZ-сложения',
		'price': '67 руб'
	},
	{
		'img': 'item4.jpg',
		'description': 'Пятновыводитель «Vanish» обычный',
		'price': '135.80 руб'
	},
	{
		'img': 'item1.jpg',
		'description': 'Двухслойная туалетная бумага T-9',
		'price': '124 руб'
	},
	{
		'img': 'item2.jpg',
		'description': 'Хозяйственные латексные перчатки «Doctor Clean»',
		'price': '34 руб'
	},
	{
		'img': 'item3.jpg',
		'description': 'Двухслойные бумажные полотенца ZZ-сложения',
		'price': '67 руб'
	},
	{
		'img': 'item4.jpg',
		'description': 'Пятновыводитель «Vanish» обычный',
		'price': '135.80 руб'
	}
] %}